body{
    width: 80%;
    background-color: rgba(7, 238, 69, 0.431);
    margin: 0 auto;
}

h1{
    text-align: center;
}

.inputs{
    align-items: center;
    text-align: center;
}

input:nth-child(1){
    height: 27px;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid #000;
    padding-left: 8px;
}

input:nth-child(2){
    height: 27px;
    background-color: red;
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #000;
}

.list-fruta {
    font-size: 19px;
    background-color: rgba(236, 236, 236, 0.354);
}

.list{
    width: 90%;
}

.list li:nth-child(odd){
    background-color: rgba(11, 251, 7, 0.224);
}

li {
    display: block;
    height: 30px;
    padding: 10px;
    border-bottom: 1px solid #000;
}

li input {
    margin-left: 90%;
    justify-content: space-between;
}

li input:hover {
    background-color: red;
    cursor: pointer;
}